
.container{
	width: 1024;
	height: 768;
	color: lightblue;
}


#menu{
	color: darkgrey;
	margin-left: 256;
}

a:link{
	color: black;
}

a:visited{
	color: black;
}

a:hover{
	color: darkgrey;
}

a:active{
	color: lightgrey;
}
