
body {
	background-color: darkgrey;
	font-family: "georgia";
}

.container{
	width: 1366;
	height: 768;
	text-align: center;
	color: lightblue;
}

#menu{
	color: darkgrey;
}

ul{
 	list-style-type: none;
	margin-top: 40;
 	padding: 0;
 	line-height: 3;
 	font-size: 24;
}

a{
    color: white;
    text-decoration: none;
    margin-bottom: 200;
}

a:hover{
     color: lightblue; 
     text-decoration: none; 
     cursor: pointer;  
}
